In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.max_columns = 999

In [2]:
df = pd.read_csv('./Data/ucsb_stats.csv')

In [4]:
df.dtypes

Unnamed: 0      int64
Date           object
OPP            object
Result         object
MIN           float64
FG             object
FG%           float64
3PT            object
3P%           float64
FT             object
FT%           float64
REB           float64
AST           float64
BLK           float64
STL           float64
PF            float64
TO            float64
PTS           float64
Player         object
dtype: object

In [5]:
df.columns

Index(['Unnamed: 0', 'Date', 'OPP', 'Result', 'MIN', 'FG', 'FG%', '3PT', '3P%',
       'FT', 'FT%', 'REB', 'AST', 'BLK', 'STL', 'PF', 'TO', 'PTS', 'Player'],
      dtype='object')

In [6]:
cols = ['Player', 'Date', 'OPP', 'Result', 'MIN', 'FG', 'FG%', '3PT', '3P%',
       'FT', 'FT%', 'REB', 'AST', 'BLK', 'STL', 'PF', 'TO', 'PTS']

In [10]:
df = df[cols] #reorder so that player column is first

In [9]:
df.head()

,Player,Date,OPP,Result,MIN,FG,FG%,3PT,3P%,FT,FT%,REB,AST,BLK,STL,PF,TO,PTS
0,ajare-sanni,Fri 3/11,vsLBSU,L67-64,37.0,5-14,35.7,2-6,33.3,3-3,100.0,3.0,6.0,0.0,1.0,1.0,2.0,15.0
1,ajare-sanni,Thu 3/10,vsUCI,W78-69,27.0,6-8,75.0,4-4,100.0,4-4,100.0,2.0,2.0,0.0,1.0,2.0,3.0,20.0
2,ajare-sanni,Thu 3/3,vsHAW,W67-60,24.0,2-6,33.3,1-4,25.0,2-2,100.0,3.0,3.0,0.0,1.0,2.0,1.0,7.0
3,ajare-sanni,Tue 3/1,vsCSUN,W70-61,20.0,2-5,40.0,2-2,100.0,2-2,100.0,1.0,2.0,0.0,0.0,2.0,1.0,8.0
4,ajare-sanni,Sat 2/26,@UCR,W97-90 2OT,27.0,3-7,42.9,2-4,50.0,1-2,50.0,3.0,3.0,0.0,0.0,3.0,1.0,9.0