In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

In [25]:
folder_files = os.listdir('Data/cbb_traditional/') #You can also use full path.
folder_files

['calpoly_traditional.csv',
 'cal_st_fullerton_traditional.csv',
 'csun_traditional.csv',
 'csu_bakersifield_traditional.csv',
 'hawaii_traditional.csv',
 'long_beach_traditional.csv',
 'ucdavis_traditional.csv',
 'ucirvine_traditional.csv',
 'ucriverside_traditional.csv',
 'ucsb_traditional.csv',
 'ucsd_traditional.csv']

In [2]:
for file in folder_files
df = pd.read_csv('./Data/cbb_traditional/long_beach_traditional.csv')

In [3]:
df.head()

,_id,competitionId,teamId,playerId,scope,tournamentId,fullName,jerseyNum,height,position,...,blkdP100Pctile,tovPgPctile,tovP40Pctile,tovP100Pctile,pfPgPctile,pfP40Pctile,pfP100Pctile,opfPgPctile,opfP40Pctile,opfP100Pctile
0,30629-103825-966099-season-0,30629,103825,966099,season,0,Colin Slater,14,73,G,...,0.85,0.37,0.68,0.72,0.37,0.77,0.81,0.49,0.66,0.67
1,30629-103825-978687-season-0,30629,103825,978687,season,0,Joel Murray,13,71,G,...,0.03,0.08,0.21,0.24,0.49,0.86,0.89,0.11,0.24,0.27
2,30629-103825-1602933-season-0,30629,103825,1602933,season,0,Jadon Jones,12,77,G,...,0.93,0.60,0.84,0.86,0.19,0.44,0.48,0.59,0.70,0.71
3,30629-103825-1691419-season-0,30629,103825,1691419,season,0,Aboubacar Traore,25,77,F,...,0.56,0.22,0.35,0.38,0.06,0.30,0.34,0.26,0.40,0.43
4,30629-103825-945599-season-0,30629,103825,945599,season,0,Jordan Roberts,2,81,G,...,0.54,0.29,0.30,0.33,0.11,0.20,0.23,0.11,0.14,0.15

In [4]:
df = df[['fullName','pfP40', 'pfP40Pctile', 'pfdP40', 'pfdP40Pctile']]
df.rename(columns = {'fullName': 'Player',
                    'pfP40':'Personal Fouls Per 40',
                    'pfP40Pctile':'pfp40_percentile',
                     'pfdP40': 'Personal Fouls Drawn per 40',
                     'pfdP40Pctile': 'pfdp40_percentile'},
                     inplace = True)
df.head()

,Player,Personal Fouls Per 40,pfp40_percentile,Personal Fouls Drawn per 40,pfdp40_percentile
0,Colin Slater,2.29351,0.77,3.80956,0.81
1,Joel Murray,2.02482,0.86,5.21781,0.96
2,Jadon Jones,3.13112,0.44,2.28124,0.38
3,Aboubacar Traore,4.95206,0.30,4.73197,0.84
4,Jordan Roberts,3.91965,0.20,3.91965,0.83